<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="hrReportDb" connectionString="Data Source=coredb-dev.atpnet.local\dev,4289;Integrated Security=SSPI;Initial Catalog=hr_reports_db_dev;Application Name=FOLDER_WATHCER_SVC;MultipleActiveResultSets=False"/>
    <add name="coreDbProcesses" connectionString="Data Source=coredb-dev.atpnet.local\dev,4289;Integrated Security=SSPI;Initial Catalog=coredb_processes;Application Name=PROCESSES_SVC;MultipleActiveResultSets=False"/>
  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.215" newVersion="4.2.1.215"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="94bc3704cddfc263" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
